﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PIVLogin.aspx.cs" Inherits="com.bitscopic.praediauth.PIVLogin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron" style="width: 800px; margin: 0 auto;">
        <asp:Literal ID="literalPivLoginMessage" runat="server"></asp:Literal>
    </div>
</asp:Content>
