﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="IAMSSOLogin.aspx.cs" Inherits="com.bitscopic.praediauth.IAMSSOLogin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Literal ID="literal_pageContent" runat="server" />
    <asp:Literal ID="literal_stsContent" runat="server" />
</asp:Content>
